#loginWrap {
	overflow-y: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	background: #000000;
}
.backPage {
	position: absolute;
	top: 30px;
	left: 30px;
	padding-left: 44px;
	background: url('../images/icoBtn/login_arr_left.png') no-repeat;
}
.backPage:hover {background: url('../images/icoBtn/login_arr_left_on.png') no-repeat;}
.backPage:hover > div {
	color: #ffffff;
	opacity: 1;
}
.backPage > div {
	font-family: Arial, sans-serif;
	cursor: pointer;
	opacity: 0.6;
	font-size: 14px;
}
.signUp {
	overflow: hidden;
	display: flex;
	align-items: center;
	position: absolute;
	top: 30px;
	right: 30px;
}
.signUp > div:first-child {
	flex-grow: 1;
	font-family: Arial, sans-serif;
	opacity: 0.6;
	margin-right: 14px;
}
.signUp > div:last-child {
	flex-grow: 1;
	border: 2px solid #ffffff;
}
.signUp > div:last-child > div {
	padding: 14px 36px;
	font-weight: 700;
	cursor: pointer;
}
.loginBox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 620px;
	margin-top: -310px;
	margin-left: -200px;
}
.loginBox .logo {
	width: 191px;
	padding-top: 50px;
	padding-bottom: 90px;
	margin: 0 auto;
}
.loginInput {
	width: 100%;
}
.loginInput .id {
	position: relative;
	width: 100%;
	background: url('../images/icoBtn/ico_login_id.png') no-repeat 10px 18px;
	margin-bottom: 20px;
}
.loginInput .pass {
	position: relative;
	width: 100%;
	background: url('../images/icoBtn/ico_login_pass.png') no-repeat 10px 18px;
}
.loginInput input {
	box-sizing: border-box;
	width: 100%;
	padding: 16px 10px 16px 45px;
	background-color: transparent;
	border-bottom: 2px solid #333333;
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
}
.loginInput input:focus {
	outline: none;
	border-bottom: 2px solid #f71253;
	animation: loginInput 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both !important;
}
.loginInput .checkOk input:focus {
	background: url('../images/icoBtn/ico_login_check.png') no-repeat 370px 18px;
}

@keyframes loginInput {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.login_btn {
	width: 100%;
	margin-top: 40px;
	cursor: pointer;
}
.login_btn > div {
	box-sizing: border-box;
	padding: 20px  0;
	text-align: center;
	color: #ffffff;
	font-size: 28px;
	font-weight: 700;
	background-color: #f71253;
}
.loginBox .or {
	font-family: Arial, sans-serif;
	font-size: 18px;
	text-align: center;
	padding: 30px 0;
	opacity: 0.6
}
.loginBox .loginLink {
	display: flex;
}
.loginBox .loginLink li {
	flex-grow: 1;
	cursor: pointer;
}
.forgetPass {
	padding-top: 40px;
	text-align: center;
	font-size: 14px;
	opacity: 0.6;
	font-family: Arial, sans-serif;
	cursor: pointer;
}


/*  SIGN UP */


#loginWrap {
	overflow-y: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	background: #000000;
}
.backPage {
	position: absolute;
	top: 30px;
	left: 30px;
	padding-left: 44px;
	background: url('../images/icoBtn/login_arr_left.png') no-repeat;
}
.backPage:hover {background: url('../images/icoBtn/login_arr_left_on.png') no-repeat;}
.backPage:hover > div {
	color: #ffffff;
	opacity: 1;
}
.backPage > div {
	font-family: Arial, sans-serif;
	cursor: pointer;
	opacity: 0.6;
	font-size: 14px;
}
.signUpBox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 600px;
	margin-top: -310px;
	margin-left: -200px;
	border: 1px solid red;
}
.signUpBox .tit {
	font-size: 70px;
	font-weight: 700;
	padding-top: 20px;
	padding-bottom: 100px;
	text-align: center;
}
.signDeps {
	display: flex;
}
.signDeps .step01 {
	flex-grow: 1;
	position: relative;
	box-sizing: border-box;
	padding-left: 50px;
	margin-right: 5px;
}
.signDeps .step01:before {
	position: absolute;
	top: -4px;
	left: 4px;
	width: 36px;
	height: 36px;
	border-radius: 30px;
	background-color: #5b16f9;
	content: '';
}
.signDeps .step02 {
	flex-grow: 1;
	position: relative;
	box-sizing: border-box;
	padding-left: 50px;
	margin-left: 5px;
}