#GeeGee {
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}
#GeeGee .main {
    width: 100%;
    height: 100%;
}
#GeeGee .main .header {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 9999;
}
#GeeGee .main .header .hContens {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
#GeeGee .main .header .hContens .logo {
    flex-basis: 90px;
    padding-top: 20px;
    margin-left: 30px;
    cursor: pointer;
}
#GeeGee .main .header .hContens .gnb {
    flex-grow: 1;
    padding-top: 24px;
    margin-left: 33px;
}
#GeeGee .main .header .hContens .gnb > li {
    position: relative;
    float: left;
    margin-left: 33px;
    cursor: pointer;
}
#GeeGee .main .header .hContens .gnb > li > div {
    font-size: 26px;
    color: #ffffff;
}
#GeeGee .main .header .hContens .gnb > li:hover .line {
    position: absolute;
    top: 17px;
    left: -4px;
    width: 100%;
    height: 8px;
    padding: 0 10px 0 4px;
    background-color: #f71253;
    z-index: -1;
    animation: gnbLine 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both ;
}
@keyframes gnbLine {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
 }
}
#GeeGee .main .header .hContens .gnb > li.on .line{
    position: absolute;
    top: 17px;
    left: -4px;
    width: 100%;
    height: 8px;
    padding: 0 10px 0 4px;
    background-color: #f71253;
    z-index: -1;
}

#GeeGee .main .header .hContens .gnb > li:first-child {
    margin-left: 0px;
}
#GeeGee .main .header .hContens .utill {
    display: flex;
    flex-basis: 330px;
    height: 70px;
}
#GeeGee .main .header .hContens .utill .login {
    display: flex;
    flex-basis: 75px;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#GeeGee .main .header .hContens .utill.off .login {
    background: url('../images/icoBtn/ico_login.png') no-repeat 0px 25px;
}
#GeeGee .main .header .hContens .utill.off .login:hover {
    background: url('../images/icoBtn/ico_login_on.png') no-repeat 0px 25px;
}
#GeeGee .main .header .hContens .utill .login .tex {
    width: 100%;
    font-size: 16px;
    text-align: center;
}
#GeeGee .main .header .hContens .utill.on {flex-basis: 516px;}
#GeeGee .main .header .hContens .utill.on .login {
    flex-basis: 248px;
    padding-right: 14px;
    background: url(../images/icoBtn/ico_dot_gray.png) no-repeat 237px 23px;
}
#GeeGee .main .header .hContens .utill.on .login .idName {
    flex-basis: 100px;
    height: 40px;
    padding-top: 22px;
    padding-left: 24px;
    font-size: 18px;
    background: url('../images/icoBtn/ico_id_name.png') no-repeat 0px 22px;
}
#GeeGee .main .header .hContens .utill.on .login .idName:hover {background: url('../images/icoBtn/ico_id_name_on.png') no-repeat 0px 22px;}
#GeeGee .main .header .hContens .utill.on .login .message {
    flex-basis: 70px;
    height: 40px;
    padding-top: 25px;
    padding-left: 24px;
    font-size: 16px;
    background: url(../images/icoBtn/ico_message_box.png) no-repeat 0px 24px;
}
#GeeGee .main .header .hContens .utill.on .login .message:hover {background: url(../images/icoBtn/ico_message_box_on.png) no-repeat 0px 24px;}
#GeeGee .main .header .hContens .utill.on .login .teammate {
    flex-basis: 70px;
    height: 40px;
    padding-top: 25px;
    padding-left: 24px;
    font-size: 16px;
    background: url(../images/icoBtn/ico_teammate.png) no-repeat 0px 24px;
}
#GeeGee .main .header .hContens .utill.on .login .teammate:hover {background: url(../images/icoBtn/ico_teammate_on.png) no-repeat 0px 24px;}



#GeeGee .main .header .hContens .utill .nation {
    display: flex;
    flex-basis: 75px;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url(../images/icoBtn/nation_arr_bot.png) no-repeat 44px 32px;
}
#GeeGee .main .header .hContens .utill .nation:hover {
    background: url(../images/icoBtn/nation_arr_bot_on.png) no-repeat 44px 32px;
}
#GeeGee .main .header .hContens .utill .nation > div {
    width: 100%;
    margin-left: 10px;
}
#GeeGee .main .header .hContens .utill .install {
    flex-basis: 180px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background: #f71253 url('../images/icoBtn/ico_download.png') no-repeat 18px 25px;
}
#GeeGee .main .header .hContens .utill .install > div {
    text-align: center;
    padding-left: 20px;
    padding-top: 26px;
    font-size: 16px;
}

#GeeGee .main.mainLastFot {
    position: relative;
    animation: mainLastFot 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both ;
}
@keyframes mainLastFot {
  0% {
    top: 0px;
  }
  100% {
    top: -240px;
 }
}
#GeeGee .main.mainFotUp {
    position: relative;
    animation: mainFotUp 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both ;
}
@keyframes mainFotUp {
  0% {
    top: -240px;
  }
  100% {
    top: 0px;
 }
}


#GeeGee .main .header .gnb > li {
    color: #ffffff;
}
#GeeGee .main .header .dimd {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 70px;
    background-color: #000000;
    opacity: 0.4;
}
#GeeGee .main .contaianer {
    width: 100%;
    height: 100%;
}
#GeeGee .main .contaianer .infoWrap {
    position: fixed;
    top: 24%;
    left: 50%;
    width: 1380px;
    margin-left: -690px;
    z-index: 100;
}
#GeeGee .main .contaianer .infoWrap.infoTopMotion {
    position: fixed;
    top: -24%;
    left: 50%;
    width: 1380px;
    margin-left: -690px;
    z-index: 100;
    animation: infoTopMotion 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both !important;
}
@keyframes infoTopMotion {
  0% {
    top: 24%;
  }
  100% {
    top: -24%;
 }
}
#GeeGee .main .contaianer .infoWrap.infoBottomMotion {
    position: fixed;
    top: 24%;
    left: 50%;
    width: 1380px;
    margin-left: -690px;
    z-index: 100;
    animation: infoBottomMotion 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both !important;
}
@keyframes infoBottomMotion {
  0% {
    top: -24%;
  }
  100% {
    top: 24%;
 }
}
#GeeGee .main .contaianer .infoWrap.infoFotMotion {
    position: fixed;
    top: -50%;
    left: 50%;
    width: 1380px;
    margin-left: -690px;
    z-index: 100;
    animation: infoFotMotion 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both !important;
}
@keyframes infoFotMotion {
  0% {
    top: -24%;
  }
  100% {
    top: -50%;
 }
}

#GeeGee .main .contaianer .infoWrap.infoFotMotionUp {
    position: fixed;
    top: -50%;
    left: 50%;
    width: 1380px;
    margin-left: -690px;
    z-index: 100;
    animation: infoFotMotionUp 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both !important;
}
@keyframes infoFotMotionUp {
  0% {
    top: -50%;
  }
  100% {
    top: -24%;
 }
}





#GeeGee .main .contaianer .infoWrap #motionInfo {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    width: 100%;
   /* left: 60%;*/
    padding: 95px 20px 95px 38px;
}
#GeeGee .main .contaianer .infoWrap #motionInfo #textH {
    position: relative;
    top: 0px;
    left: -200px;
    opacity: 0;
}
@keyframes textH {
    0% {
        left: -200px;
        opacity: 0;
        transform: translate3d(-10px,0,0);
    }
    100% {
        left: 0px;
        opacity: 1;
        transform: translateZ(0);
    }
}
#GeeGee .main .contaianer .infoWrap #textH.textH {
    animation: textHHiden 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both !important;
}
@keyframes textHHiden {
    0% {
        left: 0px;
        opacity: 1;
    }
    100% {
        left: 0px;
        opacity: 0;
    }
}





#GeeGee .main .contaianer .infoWrap #motionInfo #textM {
    position: relative;
    top: 0px;
    left: -236px;
    opacity: 0;
}
@keyframes textM {
    0% {
         left: -236px;
        opacity: 0;
        transform: translate3d(-10px,0,0);
    }
     100% {
        left: 0px;
        opacity: 1;
        transform: translateZ(0);
    }
}
#GeeGee .main .contaianer .infoWrap #textM.textM {
    animation: textMHiden 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both !important;
}
@keyframes textMHiden {
    0% {
        left: 0px;
        opacity: 1;
    }
    100% {
        left: 0px;
        opacity: 0;
    }
}





#GeeGee .main .contaianer .infoWrap #motionInfo #textB {
    position: relative;
    top: 0px;
    left: -270px;
    opacity: 0;
}
@keyframes textB {
    0% {
        left: -270px;
        opacity: 0;
        transform: translate3d(-10px,0,0);
    }
     100% {
        left: 0px;
        opacity: 1;
        transform: translateZ(0);
    }
}
#GeeGee .main .contaianer .infoWrap #textB.textB {
    animation: textBHiden 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both !important;
}
@keyframes textBHiden {
    0% {
        left: 0px;
        opacity: 1;
    }
    100% {
        left: 0px;
        opacity: 0;
    }
}







#GeeGee .main .contaianer .infoWrap #motionInfo #textButton {
    overflow: hidden;
    position: relative;
    top: 0px;
    left: -400px;
    opacity: 0;
}
@keyframes textButton {
    0% {
        left: -400px;
        opacity: 0;
        transform: translate3d(-10px,0,0);
    }
     100% {
        left: 0px;
        opacity: 1;
        transform: translateZ(0);
    }
}
/*#GeeGee .main .contaianer .infoWrap #motionInfo #textButton.textButton {
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    opacity: 1;
    animation: textButtonTop 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both !important;
}
@keyframes textButtonTop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: 2px solid red;
 }
}*/



#GeeGee .main .contaianer .infoWrap #motionInfo #textButton .gameStart {
    float: left;
    width: 223px;
    height: 64px;
    margin-top: 43px;
    margin-right: 6px;
    background-color: #f71253;
    cursor: pointer;
}
#GeeGee .main .contaianer .infoWrap #motionInfo #textButton .gameStart:hover {background-color: #fc2360;}
#GeeGee .main .contaianer .infoWrap #motionInfo #textButton .gameStart > span {
    display: block;
    padding-top: 17px;
    text-align: center;
    font-size: 28px;
    color: #ffffff;
}
#GeeGee .main .contaianer .infoWrap #motionInfo #textButton .gameLink {
    float: left;
    margin-top: 43px;
    cursor: pointer;
}
#GeeGee .main .contaianer .infoWrap #motionInfo #textButton .gameLink .plus {
    float: left;
    width: 63px;
    height: 64px;
    background: url('../images/icoBtn/gameLink_plus.png') no-repeat;
    background-size: cover;
}
#GeeGee .main .contaianer .infoWrap #motionInfo #textButton .gameLink .plus:hover {
    background: url('../images/icoBtn/gameLink_plus_on.png') no-repeat;
    background-size: cover;
}
#GeeGee .main .contaianer .infoWrap #motionInfo #textButton .gameLink .midle {
    float: left;
    width: 1px;    
    height: 64px;
    background-color: #ffffff;
}
#GeeGee .main .contaianer .infoWrap #motionInfo #textButton .gameLink .move {
    float: left;
    width: 63px;
    height: 64px;
    background: url('../images/icoBtn/gameLink_move.png') no-repeat;
    background-size: cover;
}
#GeeGee .main .contaianer .infoWrap #motionInfo #textButton .gameLink .move:hover {
    background: url('../images/icoBtn/gameLink_move_on.png') no-repeat;
    background-size: cover;
}

/*#GeeGee .main .contaianer .infoWrap #motionInfo {
    position: relative;
    top: 0px;
    left: -150px;
    opacity: 0;
}
@keyframes motionInfo {
    0% {
        left: -36px;
        opacity: 0;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}*/

#GeeGee .main .contaianer .infoWrap p {
    font-size: 90px;
    color: #ffffff;
    font-weight: 800;
}
#GeeGee .main .contaianer .infoWrap #textB {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
}
#GeeGee .main .contaianer .infoWrap #lineBox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5px;
    height: 100%;
    background-color: #ffffff;
}
#GeeGee .main .contaianer .infoWrap #lineBox.lineBox {
    animation: lineBoxHiden 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both !important;
}
@keyframes lineBoxHiden {
    0% {
        height: 34%;
        opacity: 1;
    }
    100% {
        height: 34%;
        opacity: 0;
    }
}




@keyframes lineBoxDown {
    0% {
        height: 0px;
    }
    100% {
        height: 100%;
    }
}
@keyframes lineBoxUp {
    0% {
        height: 100%;
    }
    100% {
        height: 34%;
    }
}


#GeeGee .main .contaianer .slide {
    width: 100%;
    height: 100%;
}
#GeeGee .main .contaianer .slide .slick-prev {display: none !important;}
#GeeGee .main .contaianer .slide .slick-next {display: none !important;}
#GeeGee .main .contaianer .slide #step01 {
    width: 100%;
    height: 100%;
    background: url('../images/main/pront_main_step02.png') no-repeat;
    background-size: cover;
}
#GeeGee .main .contaianer .slide #step01.step01 {
    animation: stepBlue1 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes stepBlue1 {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
}

#GeeGee .main .contaianer .slide #step02 {
    width: 100%;
    height: 100%;
    background: url('../images/main/pront_main_step03.png') no-repeat;
    background-size: cover;
}
#GeeGee .main .contaianer .slide #step02.step02 {
    animation: stepBlue2 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes stepBlue2 {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
}
#GeeGee .main .contaianer .slide #step03 {
    width: 100%;
    height: 100%;
    background: url('../images/main/pront_main_step01.png') no-repeat;
    background-size: cover;
}
#GeeGee .main .contaianer .slide #step03.step03 {
    animation: stepBlue3 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes stepBlue3 {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
}



#GeeGee .main .contaianer img {
    display: block;
    width: 100%;
}
#GeeGee .main .contaianer .slick-dots {
    position: absolute;
    display: flex;
    width: 300px;
    height: 5px;
    top: 90%;
    left: 50%;
    margin-left: -150px;
    background-color: none;
}
#GeeGee .main .contaianer .slick-dots > li {
    flex-grow: 1;
    display: inline-block;
    background: #ffffff;
    margin-right: 10px;
}
#GeeGee .main .contaianer .slick-dots > li.slick-active {
    background-color: red;
}
#GeeGee .main .contaianer .slick-dots > li button {
    border: none;
    background: transparent;
    padding: 0px;
    color: transparent;
    width: 100%;
    height: 100%;
    vertical-align: top;
}
#GeeGee .main .contaianer .slick-dots > li button:focus {
    background-color: none;
    outline: none;
}

#GeeGee .motionConts {
    position: fixed;
    box-sizing: border-box;
    width: 1380px;
    top: 100%;
    left: 50%;
    margin-left: -680px;
}


#GeeGee .motionConts.motionContsLastFot {
    animation: motionContsLastFot 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both ;
}
@keyframes motionContsLastFot {
  0% {
    top: 100%;
  }
  100% {
    top: 82%;
 }
}


#GeeGee .motionConts.motionContsFotUp {
    animation: motionContsFotUp 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both ;
}
@keyframes motionContsFotUp {
  0% {
    top: 82%;
  }
  100% {
    top: 100%;
 }
}


#GeeGee .motionConts .motionBox {
    display: flex;
    width: 100%;
    justify-content: space-around;
    justify-content: center;
    -webkit-box-align: center;
}
#GeeGee .motionConts .motionBox img {
    display: block;
    width: 100%;
}
#GeeGee .motionConts .motionBox > li {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    margin: 0 6px;
}
#GeeGee .motionConts .motionBox > li .gameInfo {
    width: 100%;
    background-color: #090c0f;
}
#GeeGee .motionConts .motionBox > li .gameInfo .InfoView {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 30px 30px 60px 30px;
}
#GeeGee .motionConts .motionBox > li .gameInfo .InfoView .serviceType {
    font-size: 16px;
    font-weight: 700;
    padding-left: 24px;
    padding-bottom: 26px;
    color: #ffffff;
    background: url('../images/icoBtn/ico_text_type.png') no-repeat left 3px;
}
#GeeGee .motionConts .motionBox > li .gameInfo .InfoView .serviceTit {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 18px;
    color: #f71253;
}
#GeeGee .motionConts .motionBox > li .gameInfo .InfoView .infoTex {
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: normal;
    white-space: normal;
    line-height: 1.2; 
    word-wrap: break-word; 
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
#GeeGee .motionConts .motionBox > li .gameInfo .InfoView .button {
    width: 100%;
    margin-top: 60px;
    background: url(../images/icoBtn/more_right_arr.png) no-repeat 124px 2px;
    cursor: pointer;
}
#GeeGee .motionConts .motionBox > li .gameInfo .InfoView .button span {
    padding: 14px 60px 14px 20px;
    font-size: 18px;
    font-weight: normal;
    border: 1px solid #ffffff;
    color: #ffffff;   
}

@keyframes motionfirstList {
  0% {
    opacity: 0;
    top: -380px;
  }
  100% {
    opacity: 1;
    top: -20px;
 }
}
#GeeGee .motionConts .motionBox #firstList.firstList {
    animation: motionfirstListTy 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both !important;
}
@keyframes motionfirstListTy {
  0% {
    top: -20px;
  }
  100% {
    top: -720px;
 }
}



@keyframes motionMiddleList {
  0% {
    opacity: 0;
    top: -480px;
  }
  100% {
    opacity: 1;
    top: -20px;
 }
}

#GeeGee .motionConts .motionBox #middleList.middleList {
    animation: motionMiddleListTy 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both !important;
}
@keyframes motionMiddleListTy {
  0% {
    top: -120px;
  }
  100% {
    top: -720px;
 }
}



@keyframes motionLastList {
  0% {
    opacity: 0;
    top: -580px;
  }
  100% {
    opacity: 1;
    top: -20px;
 }
}
#GeeGee .motionConts .motionBox #lastList.lastList {
    animation: motionLastListTy 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both !important;
}
@keyframes motionLastListTy {
  0% {
    top: -220px;
  }
  100% {
    top: -720px;
 }
}


.footer {
    width: 100%;
    height: 240px;
    background-color: #000000;
}
.footer.footerLastFot {
    position: relative;
    animation: footerLastFot 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both !important;
}
@keyframes footerLastFot {
  0% {
    top: 0px;
  }
  100% {
    top: -240px;
 }
}

.footer.footerFotUp {
    position: relative;
    animation: footerFotUp 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 both !important;
}
@keyframes footerFotUp {
  0% {
    top: -240px;
  }
  100% {
    top: 0px;
 }
}





@media all and (min-width: 900px) and (max-width: 1400px) {
    #GeeGee .main .contaianer .infoWrap {
        width: 1100px;
        margin-left : -550px;
    }
    #GeeGee .motionConts {
        width: 1100px;
        margin-left : -550px;
    }
}
